<%= form_for(@carpool) do |f| %>
  <% if @carpool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carpool.errors.count, "error") %> prohibited this carpool from being saved:</h2>

      <ul>
      <% @carpool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label :description %>
    <%= f.text_field :description, class: "form-control"%>
  </div>

<div class="container">
    <div class="row">

 <%= f.label :starttime, "Start Time" %>
 <%= f.text_field :starttime, class: 'datetimerpick'%>    

<div class="container">
<div class="row">
 <%= f.label :endtime, "End Time" %>
<%= f.text_field :endtime, class: 'datetimerpick'%>    

<div class="container">
<div class="row">
<%= f.label :startdate, "Start Date"%>
 <%= f.text_field :startdate, class: 'datepick' %>    

<div class="container">
<div class="row">
<%= f.label :enddate, "End Date" %>
  <%= f.text_field :enddate, class: 'datepick' %>    

</br >
<div class="form-group">
  <%= f.label :location %>
    <%= f.text_field :location, class: "form-control"%>
  </div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
