<%= form_for(@carpool) do |f| %>
  <% if @carpool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carpool.errors.count, "error") %> prohibited this carpool from being saved:</h2>

      <ul>
      <% @carpool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
    <%= f.label "Start Time" %>
    <%= f.text_field :starttime, class: "form-control" %>
     <%= f.label "End Time" %>
    <%= f.text_field :endtime, class: "form-control" %>
   
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
