<h1>Master List of Carpools</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carpools.each do |carpool| %>
      <tr>
        <td><%= carpool.description %></td>
        <td><%= link_to 'Show', carpool %></td>
        <td><%= link_to 'Edit', edit_carpool_path(carpool) %></td>
        <td><%= link_to 'Destroy', carpool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carpool', new_carpool_path %>
