<h1>Master List of Carpools</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody> 
    <% @carpools.each do |carpool| %>
      <tr>
        <% if carpool.user == current_user %>
        <td><%= carpool.description %></td>
        <td><%= carpool.user.email if carpool.user %></td>
      
        <td><%= link_to 'Show', carpool_path(carpool) %></td>
        <td><%= link_to 'Edit', edit_carpool_path(carpool) %></td>
        <td><%= link_to 'Destroy', carpool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Carpool', new_carpool_path %>
<% end %>
